body {
    background:#fff;
    color:#000;
    margin: 0 auto;
    font-family: 'Bebas Neue', cursive;
}

.wrapper {
    background:#000;
    color:#eee;
    padding: 40px 50px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    /* padding: 30px 40px;
    text-align:center; */
}

.responsive {
  width: 100%;
  max-width: 540px;
  height: auto;
  margin-bottom: 10px;
}

h1 {
  color: #C176AE;
  font-weight: 600;
  display: inline;
}

h2 {
  color: #fff;
  font-weight: 300;
  display: inline;
}

@media (max-width:1200px){
    body, h1, h2 {
        font-size: 1.6em;
    }
}
@media (min-width:1200px){
    body, h1, h2 {
        font-size: 1.4em;
    }
}

hr {
  display: block;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  height:0.5px;
  border-width: 0.4px;
  border-style: solid;
	background:#fff;
  color:#fff;
}
